<div class = 'container'>

  <div class="jumbotron" id= 'landing-jumbotron'>
    <h1>Experience the Demo!</h1>
    <p>Play 'The Last Flame Paladin II'!</p>
    <p><a class="btn btn-danger btn-lg" routerLink="/game-landing" role="button">Play the Game!</a></p>
  </div>

    <div class="col-lg-6">
      <div class="thumbnail" id='tech-thumbnail'>
        <div class="caption" style="color: white">
          <h3>Under the Hood</h3>
          <p style="font-weight:bold; color: black; font-size: 20px">Read about the technology used to create this app!</p>
          <p><a routerLink="/tech-used" class="btn btn-danger" role="button">View the Tech</a></p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="thumbnail" id='contact-thumbnail'>
        <div class="caption">
          <h3 style="color:#0077ea">Contact Information</h3>
          <p style="font-weight:bold; font-size: 20px">Do you like what you see? Let's talk!</p>
          <p><a routerLink="/contact-info" class="btn btn-danger" role="button">Contact Me</a></p>
        </div>
      </div>
    </div>

</div>
