<ul class="media-list">

  <li class="media col-md-6">
    <div class="media-left">
      <a href="https://angular.io/">
        <img class="media-object" src="assets/angular-2-image.jpg" alt="Angular 2 and Typescript" style="height: 175px; width: 200px;">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Angular 2 with Typescript</h4>
      AngularJS is by far the most popular JavaScript framework available today for creating web applications. And now Angular 2 and TypeScript are bringing true object oriented web development to the mainstream, in a syntax that is strikingly close to Java 8.
    </div>
  </li>

  <li class="media col-md-6">
    <div class="media-left">
      <a href="https://phaser.io/">
        <img class="media-object" src="assets/phaser_tech_used.png" alt="Phaser.io" style="height: 175px; width: 200px;">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Phaser</h4>
      Phaser is a fast, free, and fun open source framework for Canvas and WebGL powered browser games.
    </div>
  </li>

  <li class="media col-md-6">
    <div class="media-left">
      <a href="http://getbootstrap.com/2.3.2/">
        <img class="media-object" src="assets/twitter_bootstrap_tech_used.png" alt="Twitter Bootstrap" style="height: 175px; width: 200px;">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Twitter Bootstrap</h4>
      Bootstrap is a free and open-source front-end web framework for designing websites and web applications. It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions.
    </div>
  </li>

  <li class="media col-md-6">
    <div class="media-left">
      <a href="http://jquery.com">
        <img class="media-object" src="assets/jquery_tech_used.png" alt="jQuery" style="height: 175px; width: 200px;">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">jQuery</h4>
      jQuery is a fast and concise JavaScript Library created by John Resig in 2006 with a nice motto − Write less, do more. jQuery simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development.
    </div>
  </li>


</ul>

<div class= "row">
  <div class= "col-md-12">
    <p style="margin-top: 75px; margin-right: 4%" align="center"><a routerLink="/site-landing" class="btn btn-lg btn-danger" role="button">Return to Landing</a></p>
  </div>
</div>
